<div id="stores-europe" class="row stores-region">
<div id="paris" class="col-md-12">
<h2>PARIS</h2>
<div class="stockist">
<p>Colette</p>
<p>213 Rue Saint-Honoré</p>
</div>
</div>
<div id="london" class="col-md-12">
<h2>LONDON</h2>
<div class="stockist">
<p>Opening Ceremony London</p>
<p>106 Shoreditch Highstreet</p>
</div>
</div>
<div id="london" class="col-md-12">
<h2>SAINT TROPEZ</h2>
<div class="stockist">
<p>The Box</p>
<p>2 Rue de la citadelle</p>
</div>
</div>
<div id="sotogrande" class="col-md-12">
<h2>SOTOGRANDE, SPAIN</h2>
<div class="stockist">
<p>Itsomi</p>
<p>Ribera Del Marlin - 14 Puerto Sotogrande</p>
</div>
</div>
</div>