<div id="stores-southern-hemisphere" class="row stores-region">
<p>Sorry! We are not currently available at stockists in this region, but we offer free international shipping on all sales on our website.</p>
<p class="buy-style"><a href="/collections/new-releases-spring-summer-2015">CONTINUE SHOPPING</a></p>
</div>