<div id="stores-asia" class="row stores-region">
<div id="tokyo" class="col-md-12">
<h2>TOKYO</h2>
<div class="stockist">
<p>Baycrew Relume Journal Standard</p>
<p>1-6-12 Jinnan Shibuya-ku, Suite 4th Floor</p>
</div>
<div class="stockist">
<p>Ron Herman</p>
<p>2-11-1 Sendagaya Shibuya-Ku</p>
</div>
</div>
<div id="jakarta" class="col-md-12">
<h2>JAKARTA</h2>
<div class="stockist">
<p>Denimology</p>
<p>Jl. ciniru IV, no.8 Kebayoran Baru</p>
</div>
</div>
<div id="taipei-city" class="col-md-12">
<h2>TAIPEI CITY</h2>
<div class="stockist">
<p>Eric's Optical</p>
<p>182, Sec 5, Minsheng East Road</p>
</div>
<div class="stockist">
<p>Artifacts</p>
<p>Dunhua: No.23, Alley 177, Sec 1, Dun Hua South Road</p>
<p>Nanxi Shin Kond Mitsukoshi: No. 12, Nanking East Road</p>
<p>A4 Shin Kong Mitsukoshi: No. 12, SongGao Road, Xinyi District</p>
<p>Songyan Eslite: No. 133 Guangfu South Road, Xinyi District</p>
</div>
<div class="stockist">
<p>Visual Tech Optical</p>
<p>No. 242, Section 5, Zhongxiao East Road, Xinyi District</p>
</div>
</div>
</div>