

#nav-submenu-about,
#nav-submenu-lookbook {
  display: table;
  table-layout: fixed;
  background-color: black;
  float: none;
  width: 100%;
  margin: -25px auto 0px auto;
}

#nav-submenu-about li,
#nav-submenu-lookbook li {
  font-family: 'WWLheavy', sans-serif; 
  float: left;
  font-size: 13px;
} 

#nav-submenu-about li a,
#nav-submenu-lookbook li a {
  color: #BBB;
  text-decoration: none;
  background: none;
  padding-top: 18px;
  padding-bottom: 10px;
}

#nav-submenu-about li a:hover,
#nav-submenu-lookbook li a:hover {
  color: black;
  text-decoration: none;
  background-color: #DDD;
}

@media only screen and (max-width: 767px) {
  #nav-submenu-about li:first-child,
  #nav-submenu-lookbook li:first-child {
    margin-left: 16px; 
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  #nav-the-concept {
    display: none;
  }
}