<div id='error-page' class='container'>
  <div class='row'>
     <div class='col-md-8 col-md-offset-2 col-xs-12'>
       {{ 'errorgraphic.jpg' | asset_url | img_tag }}
       <p>Our apologies for this disruption to your Westward Leaning experience.</p>
       <p>Let's get back on track:</p>
       <ul>
         <li><a href="/collections/new-releases">THE SUNGLASSES</a></li>
         <li><a href="/pages/lookbook">STREET STYLE</a></li>
         <li><a href="/blogs/celeb-style/12529605-olivia-palermo">FAMOUS FANS</a></li>
       </ul>
     </div>
  </div>
</div>  