<div id='homepage' class='fluid-container'>
  
  <div class="spinner">
    <div class="dot1"></div>
    <div class="dot2"></div>
  </div>
  
  <a href='/collections/new-releases'>
  <div id='full-screen' class='hidden'>
    <video autoplay loop muted poster="258mb.png" id="bgvid">
      <source src="{{ 'fall-2015-collection-reversed.webm' | asset_url }}" type="video/webm">
      <source src="{{ 'fall-2015-collection-reversed.mp4' | asset_url }}" type="video/mp4">
    </video>
   
     <section class='content-box hidden'>
       <h1>FALL 2015 COLLECTION</h1>
     </section>
   </div>
  </a>
  
</div>