<div id='homepage' class='fluid-container'>
  
  <div class="spinner">
    <div class="dot1"></div>
    <div class="dot2"></div>
  </div>
  
  

  <!-- Mobile and desktop views hidden initially until window loads, along with all images, JS, DOM stuff, etc. -->
    
  <div id='mobile-view' class='hidden-md hidden-lg hidden-xl hidden'>
    <a href="/collections/new-releases">
      <section id="middle-option-mobile">
        <h1>THE VOYAGER COLLECTION</h1>
      </section>
    </a>
    <a href="/pages/introducing-voyager">
      <section id="left-option-mobile">
        <h1>INTRODUCING VOYAGER</h1>
      </section>
    </a>
    <a href="/pages/behind-the-scenes">
      <section id="right-option-mobile">
        <h1>THE CRAFTSMANSHIP</h1>
      </section>
    </a>
  </div>
  
  
  <div id='desktop-view' class='hidden-xs hidden-sm hidden'>
  <a href="/homepage-left-link">
    <section id="left-option">
      <div>
        <h1>ABOUT VOYAGER<br>AND THE GOLDEN RECORD</h1>
        <img src="{{ 'goldenrecord_front.png' | asset_url }}" alt="The Golden Record">
      </div>
    </section>
  </a>
  <a href="/homepage-middle-link">
    <section id="middle-option">
      <div class='learn-more-container'>
        <img src="{{ 'voyager_button.png' | asset_url }}" alt="Introducing Voyager - Shop Now">
      </div>
    </section>
  </a>
  <a href="/homepage-right-link">
    <section id="right-option">
      <div>
        <h1>ABOUT OUR CRAFTSMANSHIP</h1>
        <img src="{{ 'swatch.png' | asset_url }}" alt="Bronze Side Piece">
      </div>
    </section>
  </a>
  </div>
  
  
  
</div>