<div id='homepage' class='fluid-container'>
  
  <div class="spinner">
    <div class="dot1"></div>
    <div class="dot2"></div>
  </div>
  
  <a href='/collections/new-releases'>
  <div id='full-screen' class='hidden'>
  <section class='content-box'>
    <h1>SUMMER 2015</h1>
    <aside class='hidden'>SHOP THE NEW COLLECTION</aside>
  </section>
  <video autoplay loop poster="258mb.png" id="bgvid">
    <source src="{{ '258mb.mp4' | asset_url }}" type="video/mp4">
  </video>
  </div>
  </a>
  
</div>