<div id='homepage' class='fluid-container'>
  
  <div class="spinner">
    <div class="dot1"></div>
    <div class="dot2"></div>
  </div>
  
  <a href='/collections/sale'>
  <div id='full-screen' class='hidden'>

   
     <section class='content-box hidden'>
       <h1>CYBER MONDAY</h1>
              <aside>Shop Now</aside>

     </section>
   </div>
  </a>
  
</div>