<div id='homepage' class='fluid-container'>
  
  <div class="spinner">
    <div class="dot1"></div>
    <div class="dot2"></div>
  </div>
  
  <a href='/collections/concorde'>
  <div id='full-screen' class='hidden'>
   
    <section class='content-box'>
      <!--<aside class='hidden'>SHOP THE NEW COLLECTION</aside>-->
    </section>
  </div>
  </a>
  
</div>