<div id='homepage' class='fluid-container'>
  
  <div class="spinner">
    <div class="dot1"></div>
    <div class="dot2"></div>
  </div>
  
  <a href='/collections/new-releases'>
  <div id='full-screen' class='hidden'>
  <section class='content-box'>
    <h1>HOLIDAY 2014</h1>
    <aside class='hidden'>SHOP THE VOYAGER COLLECTION</aside>
  </section>
  </div>
  </a>
  
</div>