<div id='collections-listing' class='container'>
  {% for link in linklists.featured-collections.links %}
  {% assign collection = link.object %}
    <div class='row'>
      <section class='col-md-10 col-md-offset-1 col-sm-12'>
        <div>
        <ul id='product-grid'>
          {% for product in collection.products %}
            <div class='product-wrapper {% for tag in product.tags %}{{ tag | handleize }} {% endfor %}'>
              {% include 'product-grid-item' %}
            </div>
	      {% endfor %}
          </ul>
        </div>
      </section>
    </div>
  {% endfor %}
</div>