<div id='{{ page.handle }}' class='container'>
  <div class='row'>
    <div class='col-md-offset-2 col-md-8 col-xs-12'>
      <div id='careers-top-header'>
        {{ 'careers-header.png' | asset_url | img_tag: 'Careers' }}
        <p>At Westward Leaning, we get excited about building a brand that incorporates beautiful designs with a progressive mission, a company which enjoys a global footprint and celebrates local manufacturing, and a team keen to share Westward Leaning’s story directly with its fans and customers. Join us on the ride.</p>
      </div>
      
      <h1>Current Vacancies</h1>
      
    <h2 id='sales-associate'>Sales Associate Intern</h2>
      <h3>About the role</h3>
      <p>You will report directly to the Wholesale Manager and support the wholesale team by investigating new and potential clients, managing existing client database, and aiding in fulfillment.</p>
      <p>Responsibilities are:</p>
      <ul>
        <li>Works alongside upper management team to help fulfill orders from major retailers like Barneys and Saks Fifth Avenue.</li>
        <li>Conducts research for brand and promotional opportunities.</li>
        <li>Maintains CRM</li>
        <li>Aids in shipping samples by tracking deliveries and notifying managers of progression and status.</li>
        <li>Creates product line sheets alongside creative team for the use of wholesale clients and customers.</li>
        <li>Communicates between operation and production teams to complete fulfillment requirements. </li>
        <li>Updates managers by consolidating, analyzing, and forwarding daily action summaries.</li>
        <li>Well-developed skills in prioritizing, organization, decision-making, time management, and verbal/written communication skills.</li>
        <li>Keep a positive attitude when the going gets tough!</li>
      </ul>
      <h3>Job Specifications</h3>
      <ul>
        <li>Data Entry Skills</li>
        <li>Reporting Skills</li>
        <li>Informing Others</li>
        <li>Self-Development</li>
        <li>Attention to Detail</li>
        <li>Professionalism</li>
        <li>Microsoft Office Skills</li>
        <li>Teamwork</li>
        <li>A Sense of Urgency</li>
        <li>Marketing and Social Media Experience</li>
      </ul>
      <h3>Compensation</h3>
      <p>You will be compensated in accordance with federal, state and local laws and regulations.</p>
      <h3>How to Apply</h3>
      <p>Please email your resume and cover letter to <a href='mailto:sage@westwardleaning.com'>sage@westwardleaning.com</a> with subject: Westward Leaning Internship </p>
      
      <h2 id='design-your-own-role'>Design Your Own Role</h2>
      <p>Don’t see the job that fits you but excited about becoming part of our team? Please email us on <a href='mailto:careers@westwardleaning.com'>careers@westwardleaning.com</a>, attaching your resume and a description of how you’d be able to help us build Westward Leaning. Subject line: Design Your Own Role.</p>
    </div>
  </div>
</div>