<div id='{{ page.handle }}' class='container'>
  <div class='row'>
    <h1 class='col-md-8 col-md-offset-2 col-xs-12'>CONTACT US</h1>
  </div>
  <div class='row'>
    <div class='col-md-4 col-md-offset-2 col-xs-12'>
      <h2>CUSTOMER SERVICE</h2>
      <section><a href='mailto:help@westwardleaning.com'>help@westwardleaning.com</a><br><br>1.800.635.9851 (10-6pm PST)</section>
    </div>
    <div class='col-md-4 col-xs-12'>
      <h2>DEPARTMENTS</h2>
      <section><a href='mailto:press@westwardleaning.com'>press@westwardleaning.com</a></section>
      <section>For wholesale inquiries please contact:<br><a href='mailto:retailers@westwardleaning.com'>retailers@westwardleaning.com</a></section>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-8 col-md-offset-2 col-xs-12'>
      <h2>CORPORATE OFFICE</h2>
      <section>3001 19th Street<br>San Francisco, CA 94110</section>
    </div>
  </div>
  <div id='shipping' class='row'>
    <div class='col-md-8 col-md-offset-2 col-xs-12'>
      <h2>FREE SHIPPING &amp; EASY RETURNS</h2>
      <section>Please note that we ship Monday through Friday from San Francisco, and orders received by 2pm PST will ship same day. Expedited options are available at checkout.</section>
      <br>
      <section>Your satisfaction is our priority, and we offer free returns within 30 days for domestic orders (including return postage!). Please contact <a href='mailto:help@westwardleaning.com'>help@westwardleaning.com</a> for further assistance with any and all returns. </section>
      <br><br>
      <section><b>FREE FEDEX 2-DAY DELIVERY WITHIN THE USA</b></section><section>Within the United States, we're offering free 2–day shipping throughout the Holiday season. Please place your order by 2pm PST to ensure it ships out the same day.</section><br>
      <br><br><b>FREE FEDEX 3-DAY* DELIVERY ANYWHERE IN THE WORLD</b>
      <section>We offer free international delivery via Fedex International Priority. Packages usually deliver in 2-3 days (*some exceptions apply-- but usually it really is 2-3 days. When it comes to delays, don't blame us, blame FedEx).</section>
      <br>
      <section><em><strong>NEW! No more custom fees or import hassle! </strong> For orders shipped to the following countries/regions, the final price you pay at checkout now includes VAT (or sales tax), as well as any and all custom duties and fees. We promise to cover any additional charges that might arise during the import process. No further action is required-- no more calls from FedEx requesting duty or payment, delays at customs and paperwork-- just easy, fast, seamless delivery. You pay the taxes and duties automatically when you check out, and we handle the rest: the package will simply arrive at your door.</em></section>
      <br>
      <section>Argentina, 
        Australia, Austria, Bahrain, Barbados, Belgium, Bermuda, Bulgaria, Canada, Chile, China, Colombia, Croatia, Cyprus, Denmark, Dominican Republic, Ecuador, El Salvador, Finland, France, Germany, Greece, Hong Kong, Hungary, Ireland, Israel, Italy, Japan, Jordan, Kazakhstan, Kuwait, Lebanon, Liechtenstein, Macau, Malaysia, Malta, Mexico, Morocco, Netherlands, New Zealand, Norway, Panama, Paraguay, Peru, Philippines, Poland, Portugal, Puerto Rico, Qatar, Romania, Russia, Saudi Arabia, Singapore, Slovenia, South Africa, South Korea, Spain, Sweden, Switzerland, Taiwan, Thailand, Trinidad and Tobago, Turkey, United Arab Emirates, United Kingdom, Uruguay, Venezuela, Vietnam</section>
      <br>
      <section><em><strong> If your country is not listed above, don't worry-- we still offer free delivery within 3 days via FedEx international priority.</strong> However, due to the complexity of the import process, we are unable to accurately estimate and charge you for customs fees and import taxes during the checkout process. You are responsible for paying these, and Fedex customer support will contact you when the package arrives in your country to arrange payment (it is very straightforward-- they just call you). If a package is refused and we are charged shipping and/or duties, that amount will be deducted from original order before a refund is credited.</em></section>
      <br>
      <section></section>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-8 col-md-offset-2 col-xs-12'>
      <h2>WARRANTY</h2>
      <section>We guarantee our product to the purchaser for one year from date of purchase against any defects in manufacturing or craftsmanship - excluding damage due to normal wear and tear or misuse.</section>
    </div>
  </div>
</div>