<div id='{{ page.handle }}' class='container'>
  <div class='row'> 
    <section id='world-map' class='col-md-12 visible-xs'>
      <img id='world-map-img-mobile' src="{{ 'worldmap.jpg' | asset_url }}" alt="World Map" />
    </section>
    <section id='world-map' class='col-md-12 hidden-xs'>
      <img id='world-map-img' src="{{ 'worldmap.jpg' | asset_url }}" alt="World Map" usemap="#world-map" />
      <map name="world-map"> 
        <area id="stores-asia-link"  shape="poly" coords="905, 95, 820, 177, 745, 197, 769, 227, 813, 296, 895, 289, 1054, 407, 1141, 373, 1324, 399, 1323, 4, 905, 44" href="#city-filter" />
        <area id="stores-europe-link" shape="poly" coords="691, 1, 556, 170, 617, 219, 678, 194, 765, 224, 746, 199, 821, 177, 907, 97, 905, 44" href="#city-filter" />
        <area id="stores-southern-hemisphere-link"  shape="poly" coords="6, 556, 368, 316, 376, 289, 436, 292, 679, 194, 770, 227, 813, 298, 890, 289, 1055, 408, 1139, 374, 1322, 400, 1322, 556" href="#city-filter" />
        <area id="stores-north-america-link"  shape="poly" coords="1, 1, 687, 1, 437, 290, 374, 285, 368, 312, 2, 556" href="#city-filter" />
      </map>
    </section>
    
  </div>
  <div class='row'>  
    <section id='city-filter' class='col-md-12 hidden-xs'>
      <h4>CLICK ON YOUR REGION</h4>
    </section>
  </div>
  <div class='row hidden-xs'>
    <h1 id="stockists-header" class='col-md-12'>STOCKISTS</h1>
  </div>
<section class='stockists-list hidden-xs'>

{% include 'stores-southern-hemisphere' %}
{% include 'stores-europe' %}
{% include 'stores-asia' %}
{% include 'stores-north-america' %}
    
</section>
<section class='stockists-list visible-xs'>

{% include 'stores-mobile' %}
    
</section>
</div>