<div id='{{ page.handle }}' class='container'>
  <div class='row'>
    <div class='col-md-offset-2 col-md-8 col-xs-12'>
      <div id='careers-top-header'>
        {{ 'careers-header.png' | asset_url | img_tag: 'Careers' }}
        <p>At Westward Leaning, we get excited about building a brand that incorporates beautiful designs with a progressive mission, a company which enjoys a global footprint and celebrates local manufacturing, and a team keen to share Westward Leaning’s story directly with its fans and customers. Join us on the ride.</p>
      </div>
            
      <h2 id='design-your-own-role'>Design Your Own Role</h2>
      <p>Don’t see the job that fits you but excited about becoming part of our team? Please email us on <a href='mailto:careers@westwardleaning.com'>careers@westwardleaning.com</a>, attaching your resume and a description of how you’d be able to help us build Westward Leaning. Subject line: Design Your Own Role.</p>
    </div>
  </div>
</div>