<div id='{{ page.handle }}' class='container'>
  <div class='row'>
    <h1 class='col-md-8 col-md-offset-2 col-xs-12'>{{ page.title | upcase }}</h1>
  </div>
  <div class='row'>
    <div class='col-md-4 col-md-offset-2 col-xs-12'>
      <h2>CUSTOMER SERVICE</h2>
      <section><a href='mailto:help@westwardleaning.com'>help@westwardleaning.com</a><br><br>1.800.635.9851 (10-6pm PST)</section>
    </div>
    <div class='col-md-4 col-xs-12'>
      <h2>DEPARTMENTS</h2>
      <section><a href='mailto:citizenship@westwardleaning.com'>citizenship@westwardleaning.com</a><br><br><a href='mailto:press@westwardleaning.com'>press@westwardleaning.com</a></section>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-8 col-md-offset-2 col-xs-12'>
      <h2>CORPORATE OFFICE</h2>
      <section>3001 19th Street<br>San Francisco, CA 94110</section>
    </div>
  </div>
  <div id="shipping" class='row'>
    <div class='col-md-4 col-md-offset-2 col-xs-12'>
      <h2>FREE DOMESTIC SHIPPING</h2>
      {{ 'domestic_map.jpg' | asset_url | img_tag: 'United States Map' }}
      <section>We offer complimentary ground shipping throughout the U.S. Please note that we ship sunglasses Monday through Friday, so orders placed after 2pm PST on Friday and on Saturday or Sunday will not be processed until Monday morning. You may also select an expedited shipping option during checkout for an additional fee.</section>
    </div>
    <div class='col-md-4 col-xs-12'>
      <h2>INTERNATIONAL FLAT RATE</h2>
      {{ 'international_map.jpg' | asset_url | img_tag: 'International Map' }}
      <section>For international orders we offer a $25 flat-rate charge, and your sunglasses should arrive within 3 business days. Please note that we cannot provide overnight shipping on international orders and that the flat rate does not include any customs or import taxes your country may levy upon delivery.</section>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-8 col-md-offset-2 col-xs-12'>
      <h2>FREE &amp; EASY RETURNS</h2>
      <section>Your satisfaction is our priority! If you are in any way unsatisfied with your new sunglasses, please contact <a href='mailto:help@westwardleaning.com'>help@westwardleaning.com</a> within 30 days for a free exchange or return. Return shipping is free for domestic orders.<br><br>We guarantee the craftsmanship of our products. However, this does not apply to damages due to misuse or negligence or loss. So, if your dog ate your glasses, you left them on the subway, or your roommate stole them, we're sorry, but they cannot be replaced for free.</section>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-8 col-md-offset-2 col-xs-12'>
      <h2>WARRANTY</h2>
      <section>We guarantee our product to the purchaser for one year from date of purchase against any defects in manufacturing or craftsmanship - excluding damage due to normal wear and tear or misuse.</section>
    </div>
  </div>
</div>