<div id='{{ page.handle }}' class='container'>
  <div class='row'>
        <h1 class='col-md-8 col-md-offset-2 col-xs-12'>{{ page.title | upcase }}</h1>
  </div>
  <div class='row'>
    <div class='col-md-offset-2 col-md-4 col-xs-12'>
      {{ 'domestic_map.jpg' | asset_url | img_tag: 'United States Map' }}
      <h2>FREE DOMESTIC SHIPPING</h2>
      <p>We offer complimentary ground shipping throughout the U.S. Please note that we ship sunglasses Monday through Friday, so orders placed after 2pm PST on Friday and on Saturday or Sunday will not be processed until Monday morning. You may also select an expedited shipping option during checkout for an additional fee.</p>
    </div>
    <div class='col-md-4 col-xs-12'>
      {{ 'international_map.jpg' | asset_url | img_tag: 'International Map' }}
      <h2>INTERNATIONAL FLAT RATE</h2>
      <p>For international orders we offer a $25 flat-rate charge, and your sunglasses should arrive within 3 business days. Please note that we cannot provide overnight shipping on international orders and that the flat rate does not include any customs or import taxes your country may levy upon delivery.</p>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-8 col-md-offset-2 col-xs-12'>
      <h1>FREE &amp; EASY RETURNS</h1>
      <p>Your satisfaction is our priority! If you are in any way unsatisfied with your new sunglasses, please contact <a href='mailto:help@westwardleaning.com'>help@westwardleaning.com</a> within 30 days for a free exchange or return. Return shipping is free for any domestic orders!</p>
      <p>We guarantee the craftsmanship of our product, however, this does not apply to damages due to misuse or negligence or loss... So, if your dog ate your glasses, you left them on the subway, or your roommate stole them, we're sorry! But they cannot be replaced for free.</p>
    </div>
  </div>
</div>