<div id='{{ page.handle }}' class='container'>
  <div class='row'>
    <section id='world-map' class='col-md-12'>
      <img id="world-map-img" src="{{ 'world_map.png' | asset_url }}" alt="World Map" usemap="#world-map" />
      <map id="world-map" name="world-map">
        <area id="no-stores-link-1" shape="poly" coords="368, 59, 463, 6, 596, 8, 596, 39, 563, 90, 520, 99, 486, 138, 403, 66" href="#city-filter" />
        <area id="no-stores-link-2" shape="poly" coords="62, 220, 106, 556, 1315, 555, 1322, 354, 1166, 347, 1160, 371, 1043, 391, 886, 280, 814, 301, 777, 238, 740, 212, 695, 201, 582, 217, 429, 252, 329, 248, 240, 231" href="#city-filter" />
        <area id="stores-asia-link" shape="poly" coords="741, 210, 783, 242, 813, 300, 884, 282, 1042, 391, 1163, 371, 1189, 194, 1320, 118, 1318, 39, 915, 54, 852, 162, 825, 166, 836, 187, 764, 181" href="#city-filter" />
        <area id="stores-europe-link" shape="poly" coords="583, 214, 698, 202, 738, 211, 766, 182, 835, 188, 825, 165, 853, 161, 916, 54, 545, 92" href="#city-filter"/>
        <area id="stores-east-coast-link" shape="poly" coords="292, 45, 296, 61, 337, 92, 358, 106, 340, 125, 330, 250, 428, 251, 486, 138, 405, 67" href="#city-filter" />
        <area id="stores-central-link" shape="poly" coords="193, 78, 195, 34, 295, 48, 295, 61, 326, 86, 361, 105, 341, 126, 328, 250, 240, 229, 212, 81" href="#city-filter" />
        <area id="stores-west-coast-link" shape="poly" coords="16, 75, 215, 79, 243, 230, 63, 223" href="#city-filter" />
      </map>
    </section>
  </div>
  <div class='row'>  
    <section id='city-filter' class='col-md-12'>
      <h4>CLICK ON YOUR REGION</h4>
<!--
      <div class='city-links'>
        <a href="#stores-europe" >EUROPE</a>
        <a href="#stores-asia" >ASIA</a>
        <a href="#stores-west-coast">US WEST COAST</a>
        <a href="#stores-east-coast" >US EAST COAST</a>
        <a href="#stores-central" >US CENTRAL</a>
      </div>
-->
<!--
      <h4>UNITED STATES</h4>
      	<div class='city-links'>
        <a href='#san-francisco' id='san-francisco-link'>SAN FRANCISCO</a>
        <a href='#new-york' id='new-york-link'>NEW YORK CITY</a>
        <a href='#los-angeles' id='los-angeles-link'>LOS ANGELES</a>
        <br><br>
        <a href='#austin' id='austin-link'>AUSTIN</a>
        <a href='#burlingame' id='burlingame-link'>BURLINGAME</a>
        <a href='#charlotte' id='charlotte-link'>CHARLOTTE</a>
        <a href='#chicago' id='chicago-link'>CHICAGO</a>
        <a href='#columbus' id='columbus-link'>COLUMBUS</a>
        <a href='#los-altos' id='los-altos-link'>LOS ALTOS</a>
        <a href='#menlo-park' id='menlo-park-link'>MENLO PARK</a>
        <a href='#miami' id='miami-link'>MIAMI</a>
        <a href='#minneapolis' id='minneapolis-link'>MINNEAPOLIS</a>
        <a href='#new-orleans' id='new-orleans-link'>NEW ORLEANS</a>
        <a href='#orange-county' id='orange-county-link'>ORANGE COUNTY</a>
        <a href='#palo-alto' id='palo-alto-link'>PALO ALTO</a>
        <a href='#piedmont' id='piedmont-link'>PIEDMONT</a>
        <a href='#scottsdale' id='scottsdale-link'>SCOTTSDALE</a>
        <a href='#seattle' id='seattle-link'>SEATTLE</a>
        <a href='#walnut-creek' id='walnut-creek-link'>WALNUT CREEK</a>
        </div>
      <h4>EUROPE</h4>
        <div class='city-links'>
        <a href='#paris' id='paris-link'>PARIS</a>
        <a href='#london' id='london-link'>LONDON</a>
        <a href='#sotogrande' id='sotogrande-link'>SOTOGRANDE</a>
        </div>
      <h4>ASIA</h4>
        <div class='city-links'>
        <a href='#tokyo' id='tokyo-link'>TOKYO</a>
        <a href='#jakarta' id='jakarta-link'>JAKARTA</a>
        <a href='#taipei-city' id='taipei-city-link'>TAIPEI CITY</a>
        </div>
-->
    </section>
  </div>
  <div class='row'>
    <h1 id="stockists-header" class='col-md-12'>{{ page.title | upcase }}</h1>
  </div>
  <section class='stockists-list'>
    {{ page.content }}
  </section>
</div>