<div id='frame' class='fluid-container'>
  
  <div class='frames row'>
    <h1>Frame Fit</h1>
    <h2>Pioneer</h2>
    <p>Acetate, the material used to craft our Pioneer, Voyager, Galileo, and Atlas frames, is flexible. Gently bend the end of the stems inwards or outwards for a tighter or looser fit as needed.</p>
    <h2>Mixed Material Frames: Concorde, Flower, Vanguard</h2>
    <p>Vanguard, Concorde, and Flower all feature a mixed material frame of acetate and metal. As wire is more malleable than acetate, these frames are highly sensitive to adjustments. With these frames, we recommend gently bending the ends of the stems inwards or outwards as needed. For Vanguard and Concorde, we also suggest adjusting the nosepads to allow the frames to sit properly on your face.</p>
    <p>You can increase the malleability of the frame by heating your sunglasses with a hairdryer. Should you choose to do so, make sure to direct the heat at the end of the stems. Warm for 15 seconds while avoiding the unique material inlay and lens.</p>
  </div>

  <div class='diagram-container row no-gutter'>
    <div class='diagram col-md-4 col-xs-12'>
      <h1>1</h1>
      <p>Bend end of stem only.</p>
      {{ 'fit_1.png' | asset_url | img_tag: "Bend end of stem only. Don’t apply pressure to hinge, lens or swatch.", "Pioneer-frame" }}
    </div>
    <div class='diagram col-md-4 col-xs-12'>
      <h1>2</h1>
      <p>Acetate bendable up to 30 degrees.</p>
      {{ 'fit_2.png' | asset_url | img_tag: "Bend the stem inwards to tighten and outwards to loosen. Acetate bendable up to 30 degrees." }}
    </div>
    <div class='diagram col-md-4 col-xs-12'>
      <h1>3</h1>
      <p>Use a hairdryer to warm the stem.</p>
      {{ 'fit_3.png' | asset_url | img_tag: "Acetate is more malleable when it's heated. If you are having trouble, use a hairdryer to warm the bendable area for 15 seconds." }}
    </div>
  </div>  
</div>