<div id='{{ page.handle }}' class='container'>
  <div class='row'>
    <h1 class='col-md-8 col-md-offset-2 col-xs-12'>CONTACT US</h1>
  </div>
  <div class='row'>
    <div class='col-md-4 col-md-offset-2 col-xs-12'>
      <h2>CUSTOMER SERVICE</h2>
      <section><a href='mailto:help@westwardleaning.com'>help@westwardleaning.com</a><br><br>1.800.635.9851 (10-6pm PST)</section>
    </div>
    <div class='col-md-4 col-xs-12'>
      <h2>DEPARTMENTS</h2>
      <section><a href='mailto:press@westwardleaning.com'>press@westwardleaning.com</a></section>
      <section>For wholesale inquiries please contact:<br><a href='mailto:retailers@westwardleaning.com'>retailers@westwardleaning.com</a></section>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-8 col-md-offset-2 col-xs-12'>
      <h2>CORPORATE OFFICE</h2>
      <section>3001 19th Street<br>San Francisco, CA 94110</section>
    </div>
  </div>
  <div id='shipping' class='row'>
    <div class='col-md-8 col-md-offset-2 col-xs-12'>
      <h2>FREE SHIPPING &amp; EASY RETURNS</h2>
      <section>We offer free shipping worldwide via Fedex Ground within the United States, and Fedex International Priority elsewhere.</section>
      <br>
      <section>Please note that we ship Monday through Friday from San Francisco, and orders received by 2pm PST will ship same day. International orders are often subject to import duties and/or taxes, which are the responsibility of the customer. Expedited options are available at checkout.</section>
      <br>
      <section>Your satisfaction is our priority, and we offer free returns within 30 days for domestic orders. For final sale items, all sales are final and they can not be returned. Please contact <a href='mailto:help@westwardleaning.com'>help@westwardleaning.com</a> for further assistance. </section>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-8 col-md-offset-2 col-xs-12'>
      <h2>WARRANTY</h2>
      <section>We guarantee our product to the purchaser for one year from date of purchase against any defects in manufacturing or craftsmanship - excluding damage due to normal wear and tear or misuse.</section>
    </div>
  </div>
</div>