<div id='{{ page.handle }}' class='container'>
  <div class='row'>
    <div class='col-md-offset-2 col-md-8 col-xs-12'>
      <div id='careers-top-header'>
        {{ 'careers-header.png' | asset_url | img_tag: 'Careers' }}
        <p>At Westward Leaning, we get excited about building a brand that incorporates beautiful designs with a progressive mission, a company which enjoys a global footprint and celebrates local manufacturing, and a team keen to share Westward Leaning’s story directly with its fans and customers. Join us on the ride.</p>
      </div>
      
      <h1>Current Vacancies</h1>
      
      <h2 id='digital-marketer'>Digital Marketer</h2>
      <h3>About Westward \\ Leaning</h3>
      <p>Westward Leaning is an eyewear start-up located in the Mission District in San Francisco, founded in 2011. Our sunglasses have become popular with an early adopter audience for their <a href='/pages/the-concept'>universally flattering designs</a> and <a href='/pages/our-story'>the story behind them</a>: Each model is crafted in <a href='/pages/behind-the-scenes'>our San Francisco studio</a> in honor of a moment, a person or a place that has brought social progress in the world. Each model contains a unique material (from <a href='/products/children-of-california-1-1-redwood-wayfarer'>redwood</a> to <a href='/products/mercury-seven-stealth-3s-onyx-wayfarer'>onyx</a> to <a href='/products/louisiana-purchase-2-3-green-mirror-wayfarer'>brass</a>) representative of that story. And for each pair sold we donate a substantial amount to education-related charities.</p>
      <p>Although we are sold at <a href='/pages/stores'>prestigious department stores</a> (Barneys, Saks Fifth Avenue, and Colette, among others), we are <strong>digital first and foremost</strong>. Having raised our Series A, we are now looking to seriously invest in our online presence. Our Digital Marketer will be at the forefront of this growth and we expect him/her to have huge impact on our organization.</p>
      <p>We are looking for someone who is excited about this challenge, lives and breathes online data, and is constantly looking for answers.</p>
      <h3>About the role</h3>
      <p>Our Digital Marketer will be focused on multiplying the number of visitors to westwardleaning.com while keeping up our strong conversion rates by tapping into new channels and by becoming smarter about existing channels as they evolve. You will report to the Director of eCommerce and will work very closely with Westward Leaning’s CEO, Creative Director and Engineer.</p>
      <p>Responsibilities are:</p>
      <ul>
        <li>Continuously testing, learning, and implementing RoI optimization efforts across all marketing channels.</li>
        <li>Developing traffic, engagement, and conversion targets for SEO, paid search, retargeting, social media, and affiliate marketing, and working towards meeting and exceeding those targets.</li>
        <li>Running tactical marketing campaigns, analyzing and reporting on the impact of those campaigns, turning analysis into actionable insights for the ecommerce and creative teams, engaging these teams to get you qualitative answers.</li>
        <li>Being highly responsive to follower engagement across all social channels, working with our customer service representative as needed.</li>
        <li>Gathering and analyzing data on Westward Leaning’s current and prospective customers, feeding this data back into future marketing campaigns.</li>
        <li>Staying at the forefront of new developments in customer acquisition, proposing growth marketing hacks, new channels to tackle and new analytics tools to use.</li>
        <li>Helping to assess potential partners/vendors for marketing analytics and distribution.</li>
      </ul>
      <h3>About you</h3>
      <p>We are looking for someone who’s excited about leaving their mark on a young ecommerce company.</p>
      <p>You are:</p>
      <ul>
        <li>Highly analytical with great attention to detail: you love data and your preferred way of sharing your results is through numbers. You think (at least at the office...) in terms of RoI.</li>
        <li>Most comfortable in a fast-paced environment, and quick to get things done.</li>
        <li>Our culture is highly collaborative and a delicate balance between relaxed and go-getter: we are looking for someone who will contribute to all aspects.</li>
        <li>Committed to building the largest online sunglasses brand.</li>
      </ul>
      <p>You have:</p>
      <ul>
        <li>At least 2 years of full-time growth / marketing analytics experience.</li>
        <li>Proven abilities in data analysis, reporting, decision-making, priority setting, and planning.</li>
        <li>A track record of running and optimizing digital campaigns across SEO, paid search, retargeting, social media and affiliate marketing</li>
        <li>Experience with online monitoring and measurement platforms such as AdWords, Google Analytics, Facebook Insights, YouTube Insights, Twitter Analytics (and, of course, other platforms you think are useful in case we are not using them already). And you know all the Excel shortcuts.</li>
        <li>At least two references from your past or current professional experiences for us to contact.</li>
      </ul>
      <h3>Westward Leaning offers</h3>
      <ul>
        <li>Abundant room for growth</li>
        <li>Competitive start-up salary</li>
        <li>Health insurance</li>
        <li>Flexible vacation policy</li>
        <li>An energized and highly sociable team of true domain experts</li>
        <li>A beautiful office space</li>
        <li>The opportunity to design your own pair of Westward Leaning sunglasses</li>
      </ul>
      <h3>How to Apply</h3>
      <p>Please email the Director of eCommerce at <a href='mailto:careers@westwardleaning.com'>careers@westwardleaning.com</a> to express your interest and include your resume. Please also include a line or two explaining which marketing analytics tool has been the most impactful in your past marketing experience and why. Subject line: Digital Marketer Application.</p>
      
      <h2 id='design-your-own-role'>Design Your Own Role</h2>
      <p>Don’t see the job that fits you but excited about becoming part of our team? Please email us on <a href='mailto:careers@westwardleaning.com'>careers@westwardleaning.com</a>, attaching your resume and a description of how you’d be able to help us build Westward Leaning. Subject line: Design Your Own Role.</p>
    </div>
  </div>
</div>