<div id='{{ page.handle }}' class='container'>
  <div class='row'>
        <h1 class='col-md-8 col-md-offset-2 col-xs-12'>{{ page.title | upcase }}</h1>
  </div>
  <div class='row'>
    <div class='col-md-offset-2 col-md-4 col-xs-12'>
      {{ 'domestic_map.jpg' | asset_url | img_tag: 'United States Map' }}
      <h2>FREE DOMESTIC</h2>
      <p>Please note that we ship sunglasses Monday through Friday, and overnight shipping does not apply to international orders.</p>
    </div>
    <div class='col-md-4 col-xs-12'>
      {{ 'international_map.jpg' | asset_url | img_tag: 'International Map' }}
      <h2>FREE INTERNATIONAL</h2>
      <p>We offer free international shipping via FedEx Priority International.</p>
      <p>Most packages arrive within 3 business days, but international shipments are often subject to customs/import fees, which vary by country and can delay delivery.</p>
      <p>FedEx customer service will contact you should you need to pay an import tax. These custom fees are entirely beyond our control.</p>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-8 col-md-offset-2 col-xs-12'>
      <h1>FREE &amp; EASY RETURNS</h1>
      <p>Your satisfaction is our priority! If you are in any way unsatisfied with your new sunglasses, please contact <a href='mailto:help@westwardleaning.com'>help@westwardleaning.com</a> within 30 days for a free exchange or return. Return shipping is free for any domestic orders!</p>
      <p>We guarantee the craftsmanship of our product, however, this does not apply to damages due to misuse or negligence or loss... So, if your dog ate your glasses, you left them on the subway, or your roommate stole them, we're sorry! But they cannot be replaced for free.</p>
    </div>
  </div>
</div>